<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="data1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL"/>
        <property name="username" value="ocwbuet"/>
        <property name="password" value="ocwbuet"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="data1"/>
    </bean>
    <bean id="adminpanelDAO" class="DataAccess.AdminPanelDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="booklistDAO" class="DataAccess.BookListDAO" >
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="courseDAO" class="DataAccess.CourseDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="courseadminDAO" class="DataAccess.CourseAdminDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="coursetakenDAO" class="DataAccess.CourseTakenDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="departmentDAO" class="DataAccess.DepartmentDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="instructorDAO" class="DataAccess.InstructorDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="interactivetestDAO" class="DataAccess.InteractiveTestDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="peopleDAO" class="DataAccess.PeopleDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="relatedcourseDAO" class="DataAccess.RelatedCourseDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="relatedresourceDAO" class="DataAccess.RelatedResourceDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="slideDAO" class="DataAccess.SlideDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="videotutorialDAO" class="DataAccess.VideoTutorialDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>